<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="products.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let product of products">
    <mat-expansion-panel-header>
      {{product.name}}
    </mat-expansion-panel-header>
    
    <p>{{product.description}}</p>
    <p>{{product.price}}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId == product.creator">
      <a mat-button color="primary" [routerLink] = "['/edit', product.id]">Edit</a>
      <button mat-button color="warn" (click) = "onDelete(product.id)" >Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator *ngIf="products.length > 0 && !isLoading" [length]="totalProducts" [pageSize]="productPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="products.length <= 0 && !isLoading">No Product added yet! </p>
